* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1d2123;
}

.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.logo-section p {
  font-size: 5vh;
  text-transform: uppercase;
  font-weight: bold;
  color: #c750f1;
}

.instructions {
  margin-top: 4%;
  text-align: center;
}

.instructions p {
  font-size: 3vh;
  color: #2d84d3;
}
