* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1d2123;
}

.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.logo-section p {
  font-size: 5vh;
  text-transform: uppercase;
  font-weight: bold;
  color: #c750f1;
}

.instructions {
  margin-top: 4%;
  text-align: center;
}

.instructions p {
  font-size: 3vh;
  color: #2d84d3;
}

.container {
  display: flex;

  align-items: center;
  padding: 7% 0;
}

.row1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15vw;
}

.circle {
  height: 5vh;
  width: 5vh;
  background-color: #2dd33e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle p {
  color: #ffff;
  font-size: 4.5vh;
}

.ninety-degrees-lines {
  align-items: flex-start;
  margin-left: 2.5vh;
  margin-top: 3vh;
}

.line-vertical {
  width: 0.02vw;
  height: 10vh;
  background-color: #ffff;
}

.line-horizontal {
  width: 20vw;
  height: 0.02vh;
  background-color: #ffff;
}

.row2 {
  margin-left: 5vw;
  margin-right: 5vw;
}

.row2 p {
  color: #ffff;
  margin-top: 18.1vh;
}
